# Настройки для корректного деплоя Unity WebGL на GitHub Pages

# Явно указываем Git, что файлы сборки являются бинарными
*.unityweb binary
*.wasm binary
*.data binary
*.js binary

# Отключаем автоматическое изменение окончаний строк для этих расширений
*.unityweb -text
*.wasm -text
*.data -text